body {
  font-family: 'open sans', sans-serif;
  font-size: 16px;
}

.App {
  margin: 1rem;
  padding: 1rem;
  box-shadow: 1px 3px 3px #00000040;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  text-align: left;
  border-bottom: 2px solid black;
}

thead button {
  border: 0;
  border-radius: none;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  padding: 0.5em;
  margin-bottom: 1px;
}

thead button.ascending::before {
  content: '↓';
  display: inline-block;
  margin-right: 1em;
}

thead button.descending::before {
  content: '↑';
  display: inline-block;
  margin-right: 1em;
}

tbody td {
  padding: 0.5em;
  text-transform: capitalize;
  border-bottom: 1px solid #ccc;
}

tbody tr:hover {
  background-color: #eee;
}
